<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap = "tests/bootstrap.php"
        colors="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        verbose="false">
    <php>
        <server name="REMOTE_ADDR" value="192.168.0.1"/>
        <server name="REQUEST_METHOD" value="POST"/>
    </php>
</phpunit>